<style>
.mdlTimeSeriesWizard {
	position: fixed;
	bottom: 7%;
	width: calc(100% - 10px);
	left: 0;
	margin: 5px;
	overflow: auto;
	box-sizing: border-box;	
}
</style>
<div class="modal mdlTimeSeriesWizard" ng-controller="TimeSeriesWizardController" modal>
	<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
	<div>
		<query-input
			ng-model="queryResult"
			ng-query-string="queryString"
			ng-page-size="numPageSize"
			ng-pid="getPid"
			on-head="onHead($helper)"
			on-tail="onTail($helper)">
		</query-input>

		<div>
			<label><input type="radio" ng-model="optionResultCursor" value="head"> 처음</label>
			<label><input type="radio" ng-model="optionResultCursor" value="tail"> 마지막</label>
			<input type="number" ng-model="numPageSize" max="500" min="1"/> 건의 결과
			{{optionResultCursor}}
		</div>

		<table table-view ng-model="modelTable" class="table table-bordered table-condensed">
		</table>
		
	</div>

	<button class="btn" ng-click="onNextQuery()">다음</button>
</div>

<div class="modal mdlDataManipulateWizard" ng-controller="DataManipulateController" modal>
	<a class="modal-close close" style="margin-bottom: -30px">&times;</a>

	<div>
		DataManipulate
	</div>
</div>