<div class="modal mdlTimeSeriesWizard" ng-controller="TimeSeriesWizardController" modal>
	<div class="rela">
		<a class="modal-close close">&times;</a>
		<div class="wiz-top-group">
			<h4>쿼리</h4>
		</div>
		<div class="wiz-content-group">
			<query-input
				ng-model="queryResult"
				ng-query-string="queryString"
				ng-page-size="numPageSize"
				ng-pid="getPid"
				on-head="onHead($helper)"
				on-tail="onTail($helper)">
			</query-input>

			<div>
				<label><input type="radio" ng-model="optionResultCursor" value="head"> 처음</label>
				<label><input type="radio" ng-model="optionResultCursor" value="tail"> 마지막</label>
				<input type="number" ng-model="numPageSize" max="500" min="1"/> 건의 결과
				{{optionResultCursor}}
			</div>

			<table table-view ng-model="modelTable" class="table table-bordered table-condensed">
			</table>
			
		</div>

		<div class="wiz-bottom-group">
			<button class="btn" ng-click="onNextQuery()">다음</button>
		</div>
	</div>
</div>

<div class="modal mdlTimeSeriesManipulateWizard" ng-controller="TimeSeriesManipulateController" modal>
	<div class="rela">
		<a class="modal-close close">&times;</a>
		<div class="wiz-top-group">
			<h4>쿼리</h4>
		</div>
		<div class="wiz-content-group">
			<div>num: {{colsNumber}}</div>
			<div>date: {{colsDateTime}}</div>
			<div>string: {{colsString}}</div>
			<table class="table table-bordered table-condensed">
				<tbody>
					<tr ng-class="{'tr-selected': col.is_checked}" tr-multi-selectable="col" ng-repeat="col in cols">
						<td class="checks"><input type="checkbox" ng-model="col.is_checked" ng-checked="col.is_checked"/></td>
						<td>{{col.name}}</td>
					</tr>
			</table>

			<div class="chart-container"></div>
			<!-- 
			<table table-view ng-model="modelTable" class="table table-bordered table-condensed">
			</table> -->
			
		</div>

		<div class="wiz-bottom-group">
			<button class="btn" ng-click="onVVV()">다음</button>
		</div>
	</div>
</div>