<div class="modal mdlAlertBoxController" modal>
	<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
	<legend>룰설정</legend>
	<fieldset>
		<form name="formAlertBox" ng-controller="AlertBoxRuleBindingController">
			<div class="control-group">
				<div>레이블 : <input type='text' name='fdsLabel' ng-model='fdsLabel' required></div>
				<span>접두사 : <input type='text' name='fdsLabel' ng-model='fdsPrefix' required></span>
				<span>&nbsp;접미사 : <input type='text' name='fdsLabel' ng-model='fdsSuffix' required></span>
				<div>
					서식 : <input type='checkbox' name='comma' ng-model='fdsComma'>천단위로 끊어서 표시
					&nbsp;&nbsp;<input type='checkbox' name='pointLenChk' id="pointLenChk" ng-model='pointLenChecked'>
					소수점 <input type='text' class='pointLen' name='pointlen' id="pointlen" ng-model='fdsPointLen' maxlength="1" ng-disabled="!pointLenChecked" only-number>자리까지 표시
				</div>
				기본색 : <input type="color" name="default_color" ng-model='fdsdefault_color' required>(아무조건도 해당되지 않을때)<br>
				<span class="controls" ng-repeat="fdsrule in fdsrules">
					결과가 <select ng-model="fdsrule.operator" ng-options="o.value as o.text for o in operaterlists" required>
					</select>
					<input type="text" name="boundary" ng-model="fdsrule.boundary" pattern="[0-9]*"  only-number required>
					
					배경색을 다음과 같이 설정 <input type="color" name='color' ng-model="fdsrule.color" required> 
					<button type="button" class="op-text" class="close" ng-click="removeRule($index)">&times</button>
				</span>
				<span><button class="wiz-rulladd btn" ng-click="addRule()">룰추가</button></span>
			</div>

			<div class="control-group submit-group">
				<button class="wiz-prev btn" ng-click="go(7)">{{'$S_str_Previous' | translate}}</button>
				<button class="wiz-next btn" ng-click="go(widgetType.s8next, widgetType.s8nextCallback(), widgetType.s8nextEvent())" ng-disabled="formAlertBox.$invalid">{{'$S_str_Next' | translate}}</button>
			</div>
		</form>
	</fieldset>	
</div>