<style>

.mdlAlertBoxController .form-horizontal .control-label {
	width: 120px;
}

.mdlAlertBoxController .form-horizontal .controls {
	margin-left: 140px;
}

.fdsAlertBox {
		width: 400px;
		height: 120px;
		text-align: center;
		font-size: 20px;	
		overflow: hidden;
}

alert-box .fdsAlertBox {
	width: 100%;
	height: calc(100% - 2px);
	/*top: -17px;*/
	height: 100%;
	text-align: center;
	position: relative;
}

.fdsAlertBox .b-x {
	float: right;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
}

alert-box .fdsAlertBox .centering {
	box-sizing: border-box;
	display: table;
	width: calc(100% + 1px);
	height: calc(100% - 3px);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
}

alert-box .fdsAlertBox .hcentering {
	vertical-align: middle;
	display: table-cell;
}

alert-box .fdsAlertBox h4, 
alert-box .fdsAlertBox h2 {
	margin: auto;
}

form[name=formAlertBox] {
	padding-right: 30px;
}
</style>
<div class="modal mdlAlertBoxController" modal ng-controller="AlertBoxRuleBindingController">
	<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
	<legend>룰설정</legend>
	<fieldset>
		<form name="formAlertBox" class="form-horizontal">
			<div class="pull-right">
				<h5>미리보기</h5>
				<div class="fdsAlertBox k-d-handler" ng-style="{'backgroundColor': context.default_color}">
					<div class="centering">
						<div class="hcentering">
							<h4>{{context.label}}</h4>
							<h2>{{context.prefix}} {{numSample}} {{context.suffix}}</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-left">
				<div class="control-group">
					<div class="control-label">데이터 소스</div>
					<div class="controls">
						<select ng-model="selectedColumn" ng-options="col.name for col in dataColumns | filter:{ type: 'number' }"></select><br>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">레이블</div>
					<div class="controls">
						<input type='text' name='fdsLabel' ng-model='context.label'>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">접두사</div>
					<div class="controls">
						<input type='text' name='fdsLabel' ng-model='context.prefix'>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">접미사</div>
					<div class="controls">
						<input type='text' name='fdsLabel' ng-model='context.suffix'>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">서식</div>
					<div class="controls">
						<label>
							<input type='checkbox' name='comma' ng-model='hasComma'> 천단위로 끊어서 표시
						</label>
						<label>
							<input type='checkbox' name='pointLenChk' id="pointLenChk" ng-model='hasPoint'> 소수점
							<input type='text' class='pointLen' name='pointlen' id="pointlen" ng-model='lenPoint' maxlength="1" ng-disabled="!hasPoint" only-number> 자리까지 표시
						</label>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">기본 배경색</div>
					<div class="controls">
						<input type="color" name="default_color" ng-model='context.default_color' required>
					</div>
				</div>
			</div>
			<div class="control-group clearboth">
				<div class="control-label">배경색 조건</div>
				<div class="controls">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>결과가</th>
								<th></th>
								<th>배경색 설정</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rule in context.rules">
								<td>
									<select ng-model="rule.operator" ng-options="o.value as o.text for o in operaterlists" required></select>
								</td>
								<td>
									<input type="number" name="boundary" ng-model="rule.boundary" required style="width:110px">
								</td>
								<td>
									<input type="color" name='color' ng-model="rule.color" required>
								</td>
								<td>
									<button class="op-text btn btn-danger btn-mini" ng-click="removeRule($index)">
										<i class="icon-remove icon-white"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td colspan="3"></td>
								<td>
									<button class="wiz-rulladd btn btn-primary btn-mini" ng-click="addRule()">
										<i class="icon-plus icon-white"></i>
									</button>
								</td>
						</tbody>
					</table>

				</div>
			</div>

			<div class="control-group submit-group" style="margin-right: -30px">
				<button class="wiz-next btn" ng-click="sendContext()" ng-disabled="formAlertBox.$invalid">{{'$S_str_Next' | translate}}</button>
			</div>
		</form>
	</fieldset>	
</div>