
	body {
		background-color: #eee;
	}

	.board {
		/* margin-top: 42px; */
	}

	.brandpreset {
		line-height: 39px;
		font-size: 20px;
		font-weight: 200;
		color: #777777;
		text-shadow: 0 1px 0 #ffffff;
		margin: auto;
		width: 400px;
		text-align: center;
		margin-top: -35px;
	}

	.wizard {
		float: left;
		width: 98%;
		margin-left: 10px;
		padding-left: 0px;
		border-left: 0px;
	}

	.newWidget {
		-webkit-transition: .1s ease-in;
		overflow: hidden;
	}

	.newWidget.step0 {
		width: 700px;
		margin-left: -350px;
	}

	.newWidget.step1 {
		/*
		width: 800px;
		margin-left: -400px;
		*/
	}

	.newWidget.step2 {
		width: 1000px;
		margin-left: -500px;
		/* height: 500px; */
	}

	.newWidget.step3, .removePreset, .clearWidgets {
		width: 540px;
		margin-left: -270px;
	}

	.newWidget.step4 {
		width: 1000px;
		margin-left: -500px;
	}

	.newWidget.step5 {
		width: 96.5%;
		margin-left: -49%;
		min-height: 90%;
		top: 10px;
	}

	query-input.loading textarea {
		width: calc(100% - 190px);
	}

	query-input.loaded textarea {
		width: calc(100% - 105px);
	}

	query-input.loading .stop {
		display: block;
	}

	query-input.loaded .stop {
		display: none;
	}

	query-input .btn {
		float: right;
		width: 80px;
		margin-left: 5px;
	}

	.qr-container {
		overflow-x: scroll;
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}

	.cmpqr td, .cmpqr th {
		word-wrap: break-word;
	}

	.cmpqr.selectable td, .cmpqr.selectable th {
		cursor: pointer;
	}

	.cmpqr.selectable td.selected, .cmpqr th.selected {
		background-color: rgba(0, 153, 255, .2);
	}

	.cmpqr.selectable tr:nth-child(odd) > td.selected {
		background-color: rgba(0, 153, 255, .3);
	}

	.cmpqr.selectable th.selected {
		background-color: rgba(0, 153, 255, .4);
		border-bottom: 1px solid rgba(0, 153, 255, .6);
	}


	.table-condensed-custom tr:nth-child(odd) {
		background-color: rgb(243,243,243);
	}

	.table-condensed-custom tr:first-child {
		background-color: rgb(234,234,234);
	}

	/* ListBox */

	.listbox {
		border: 1px solid #ccc;
		margin-bottom: 20px;
	}

	.arrangeCols {
		float: right;
		width: 17%;
	}

	.listbox > li {
		padding: 3px 11px;
		margin: 1px;
		list-style-type: none;
		clear: both;
	}

	li > input[type=checkbox] {
		vertical-align: top;
	}

	ul.ui-sortable > li {
		border: 1px solid transparent;
		background-color: transparent;
		cursor: pointer;
	}

	ul.ui-sortable > li:hover {
		border: 1px solid transparent;
		background-color: #ebf2fc;
	}

	ul.ui-sortable > li.ui-sortable-helper, ul.ui-sortable > li.ui-sortable-helper:hover {
		border: 1px solid rgba(82, 168, 236, 0.8);
		background-color: #ebf2fc; /* #cceaff */
		box-shadow: 1px 1px 10px #aaa;
	}

	/* Widget */

	widget {
		float: left;
		/* min-height: 300px; */
		min-width: 400px;
	}

	widget > .widget {
		position: relative;
		-webkit-perspective: 800px;
	}

	.cmpqr-cont {
		max-height: 500px;
		overflow-y: auto;
		clear: both;
	}

	.widget .card {
		-webkit-transform-style: preserve-3d;
		-webkit-transition: -webkit-transform 1s;
	}

	.card.flipped {
		-webkit-transform: rotateY(180deg);
	}

	.card figure {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;

		display: block;
		position: relative;
		-webkit-backface-visibility: hidden;
	}

	figure.front {
		padding: 10px;
		margin: 10px;
		border-bottom: 1px solid #ccc;
		background-color: white;
	}

	.card input, .card button {
		-webkit-transition: -webkit-transform 1s;
	}

	.card.flipped .front input, .card.flipped .front button {
		display: none !important;
	}

	.card.unflipped figure.back {
		visibility: hidden;
	}

	figure.back {
		-webkit-transform: rotateY(180deg);
		background: white;
		position: absolute;
		padding: 10px;
		top: 0;
		left: 10px;
		right: 10px;
		bottom: 0;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 0 10px #ccc;
	}

	.widget h5 {
		float: left;
		margin-top: 2px;
	}

	.widget h5.timestamp {
		font-weight: normal;
		margin-left: 10px;
		color: #999;
	}

	widget input[type=number] {
		width: 40px;
		font-size: 12px;
		height: 19px;
		padding: 2px;
	}

	ul.radio {
		list-style: none;
	}

	label.radio {
		display: inline;
		margin-left: 3px;
		padding-left: 0;
		line-height: 2;
	}

	label.qr-sel-label.selected {
		border: 1px solid #09f;
		background: rgba(0, 153, 255, .4);
		-webkit-animation: fade-in .2s 1;
	}

	label.qr-sel-label.unselected {
		border: 1px solid transparent;
		-webkit-animation: fade-out .2s 1;
	}

	.charthere {
		/* -webkit-transition: .1s ease-in; */
		position: absolute;
		border: 1px solid #ccc;
		top: 71px;
		right: 27px;
		bottom: 56px;
		width: 37.5%;
	}

	.charthere:hover {
		/* -webkit-transform: scale(1.25) translateX(-25px) translateY(15px); */
	}

	.clearfix:before,
	.clearfix:after {
		content:"";
		display:table;
	}

	.clearfix:after {
		clear:both;
	}

	@-webkit-keyframes fade-out {
		0% { opacity: 1; }
		100% { opacity: 0; }
	}

	@-webkit-keyframes fade-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}

	.moreCol {
		-webkit-animation: fade-in .5s 1;
	}

	.moreCol label, .moreCol button {
		display: inline;
		vertical-align: text-bottom;
		margin: 0 5px 0 20px;
	}

	.charthere svg {
		width: 100%;
		margin: 0 10px;
	}

	i.icon-noncheck {
		background-position: 9999px 9999px;
	}

	/* widget */
	svg.widget {
		width: 400px;
		clear: both;
		height: 300px;
		display: block;
	}

	figure .axis path, figure .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	/*
	figure .axis.x text {
		-webkit-transform: rotate(315deg) translate(-55px, 0px)
	}
	*/

	figure .line {
		fill: none;
		stroke: steelblue;
		stroke-width: 1.5px;
	}

	figure text {
		font-size: 11px;
		letter-spacing: -0.5px;
		/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	}

	button[disabled].close {
		opacity: .1;
	}

	button[disabled].close:hover {
		opacity: .1;
	}

	button[disabled].close:hover * {
		cursor: not-allowed;
	}