<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<!-- build:js ../../../script/app.dist.min.js -->
	<script src="../../../bower_components/jquery/jquery.js"></script>
	<script src="../../../bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="../../../bower_components/angular/angular.js"></script>
	<script src="../../../bower_components/d3/d3.js"></script>
	<script src="../../../bootstrap/js/bootstrap.js"></script>
	<script src="../../../bower_components/moment/moment.js"></script>
	<script src="../../../bower_components/moment/min/lang/ko.js"></script>
	<script src="../../../script/app.js"></script>
	<script src="../../../script/filter/filter.js"></script>
	<script src="../../../script/service/service.js"></script>
	<script src="../../../script/service/service.dom.js"></script>
	<script src="../../../script/service/service.logdb.js"></script>
	<script src="../../../script/service/service.logdb.management.js"></script>
	<script src="../../../script/service/service.chart.js"></script>
	<script src="../../../script/directive/directive.js"></script>
	<script src="../../../script/directive/directive.logdb.js"></script>
	<script src="../../../script/directive/directive.orgunit.js"></script>
	<script src="../../../script/directive/sortable.js"></script>
	<!-- endbuild -->

	<script src="../system.en.js"></script>

	<script src="widget.js"></script>

	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/app.css"/>
	<link rel="stylesheet" href="dashboard.css" />
</head>
<body ng-controller="Controller">
	<topbar>
	</topbar>

	<div ng-controller="PresetController" class="toolbar navbar navbar-top" style="margin-bottom: 10px">
		<div class="navbar-inner">
			<!--<select style="float: left; margin-top: 5px; margin-bottom: 0; margin-left: 5px" ng-model="selectedPreset" ng-options="preset.name for preset in dataPresetList"></select>
			-->
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					{{'$S_str_NewPreset' | i18n}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#" ng-click="New()">{{'$S_str_BlankPreset' | i18n}}</a></li>
					<li><a tabindex="-1" href="#" ng-click="SaveAs()">{{'$S_str_SavePresetAs' | i18n}}</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					{{'$S_str_LoadPreset' | i18n}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="preset in dataPresetList">
						<a tabindex="-1" href="#" ng-click="Load(preset)" style="padding-left:10px">
							<i ng-class="{ 'icon-ok': preset.guid == currentPreset.guid, 'icon-noncheck': preset.guid != currentPreset.guid }"></i>
							{{preset.name}}
						</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<i class="icon-wrench"></i>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#" ng-click="AlertRemove()">{{'$S_str_RemoveThisPreset' | i18n}}</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" href="#" ng-click="AlertClear()">{{'$S_str_RemoveAllWidgets' | i18n}}</a></li>
				</ul>
			</div>
			<button class="btn btn-primary pull-right" style="margin-right: 5px" ng-click="openNewWidget()">{{'$S_str_AddWidget' | i18n}}</button>
			<div class="brandpreset">{{currentPreset.name}}</div>
		</div>

		<div class="modal clearWidgets" modal>
			<a href="#" class="modal-close close" style="margin-bottom: -30px">&times;</a>
			<legend>{{'$S_str_RemoveAllWidgets' | i18n}}</legend>
			<div style="margin-bottom: 20px">
				{{'$S_msg_RemoveAllWidgets' | i18n}}
			</div>
			<div class="control-group submit-group">
				<button class="btn btn-danger" ng-click="Clear()">{{'$S_str_Remove' | i18n}}</button>
				<button class="btn" ng-click="CancelClear()">{{'$S_str_Cancel' | i18n}}</button>
			</div>
		</div>

		<div class="modal removePreset" modal>
			<a href="#" class="modal-close close" style="margin-bottom: -30px">&times;</a>
			<legend>{{'$S_str_RemovePreset' | i18n}}</legend>
			<div style="margin-bottom: 20px">
				{{'$S_msg_RemovePresetConfirmPre' | i18n}}<code>{{currentPreset.name}}</code>{{'$S_msg_RemovePresetConfirmPost' | i18n}}
			</div>
			<div class="control-group submit-group">
				<button class="btn btn-danger" ng-click="Remove()">{{'$S_str_Remove' | i18n}}</button>
				<button class="btn" ng-click="CancelRemove()">{{'$S_str_Cancel' | i18n}}</button>
			</div>
		</div>
	</div>

	<div class="board">
		<!--
		<widget guid="testtest" name="멤" type="grid" interval="15" query="table%20limit%3D10%20memlogs" fields="['_id','pfree']"></widget>
		<widget guid="testchart" name="멤차트" type="chart.bar" interval="15" query="table%20limit%3D10%20memlogs" series="%5B%7B%22color%22%3A%22%23AFD8F8%22%2C%22name%22%3A%22%ED%9B%84%EB%A6%AC%22%2C%22key%22%3A%22pfree%22%7D%5D" label="_time"></widget>
		<widget guid="testchart" name="멤차트" type="chart.pie" interval="15" query="table%20limit%3D5000%20memlogs%20%7C%20timechart%20span%3D10m%20count" series="%5B%7B%22color%22%3A%22%23AFD8F8%22%2C%22name%22%3A%22%ED%9B%84%EB%A6%AC%22%2C%22key%22%3A%22count%22%7D%5D" label="_time"></widget>
		-->
	</div>

	<div class="modal errorWin" modal>
		<a href="#" class="modal-close close" ng-click="clearError()">&times;</a>
		<div class="raw"></div>
	</div>

	<div class="modal newWidget step0" modal ng-controller="WizardController">
		<a href="#" class="modal-close close">&times;</a>
		<ol class="wizard">
			<!-- 0 -->
			<li class="wiz-step active">
				<legend>{{'$S_str_SelectWidgetType' | i18n}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_SelectWidgetType' | i18n}}</div>
					<ul class="radio">
						<li>
							<input type="radio" ng-model="widgetTypeName" value="table" ng-change="selectType(0)" id="radioTable">
							<label class="radio" for="radioTable">{{'$S_str_Table' | i18n}}</label>
						</li>
						<li>
							<input type="radio" ng-model="widgetTypeName" value="graph" ng-change="selectType(1)" id="radioGraph">
							<label class="radio" for="radioGraph">{{'$S_str_Chart' | i18n}}</label>
						</li>
					</ul>
					<div style="margin-bottom: 20px" ng-bind="selectedParserFactory.description"></div>
					<div class="control-group submit-group">
						<button class="wiz-next btn" ng-click="go(1, widgetType.s0nextCallback())">{{'$S_str_Next' | i18n}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 1 -->
			<li class="wiz-step">
				<legend>{{'$S_str_QueryData' | i18n}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_QueryData' | i18n}}</div>
					<div>
						<query-input
							ng-model="qresult"
							ng-page-size="numPagerPagesize"
							ng-query-string="ctxWidget.data.query"
							on-loading="inputOnloading()"
							on-loaded="inputOnloaded()"
							on-page-loaded="inputOnpageloaded()"></query-input>
						<div class="qr-container" style="width: 880px">
							<query-result class="qr1"
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"></query-result>
						</div>						
					</div>
					<div class="control-group submit-group">
						<button class="wiz-prev btn" ng-click="go(0)">{{'$S_str_Previous' | i18n}}</button>
						<button class="wiz-next btn" ng-click="go(widgetType.s1next)">{{'$S_str_Next' | i18n}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 2 -->
			<li class="wiz-step">
				<legend>{{'$S_str_SelectAndReorderColumn' | i18n}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_SelectAndReorderColumn' | i18n}}</div>
					<div>
						<div class="qr-container" style="width: 780px; float: left">
							<query-result class="qr2 qr-select-table"
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"></query-result>
						</div>
						<ul class="listbox arrangeCols" ui-sortable ng-model="qrCols">
							<li ng-repeat="(i, col) in qrCols">
								<input type="checkbox" ng-model="col.is_visible">
								<span>{{col.name}}</span>
							</li>
						</ul>
					</div>
					<div class="control-group submit-group clearboth">
						<button class="wiz-prev btn" ng-click="go(1)">{{'$S_str_Previous' | i18n}}</button>
						<button class="wiz-next btn" ng-click="go(3)">{{'$S_str_Next' | i18n}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 3 -->
			<li class="wiz-step">
				<legend>{{'$S_str_WidgetCommonSetting' | i18n}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_WidgetCommonSetting' | i18n}}</div>
					<div class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="widgetName">{{'$S_str_Name' | i18n}}</label>
							<div class="controls">
								<input id="widgetName" type="text" ng-model="ctxWidget.name"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="widgetInterval">{{'$S_str_Interval' | i18n}}</label>
							<div class="controls">
								<input id="widgetInterval" type="number" ng-model="ctxWidget.interval" min="5"/> <ng-pluralize count="ctxWidget.interval" when="formSecond"></ng-pluralize>
							</div>
						</div>
					</div>
					<div class="control-group submit-group clearboth">
						<button class="wiz-prev btn" ng-click="go(widgetType.s3prev)">{{'$S_str_Previous' | i18n}}</button>
						<button class="wiz-next btn" ng-click="submit()">{{'$S_str_Done' | i18n}}</button>
					</div>
				</fieldset>
			</li>

			<!-- 4 -->
			<li class="wiz-step" ng-controller="SelectColumnController">
				<legend>{{'$S_str_BindingDataToChart' | i18n}}</legend>
				<fieldset>
					<div class="alert alert-error check-col-info" style="display:none">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<span></span>
					</div>
					<div class="well clearfix">
						<span class="pull-left" style="margin-top: 12px;margin-right: 10px">{{'$S_msg_SelectChartType' | i18n}}</span>
						<div class="btn-group pull-left" data-toggle="buttons-radio">
							<button class="btn btn-large active" data-toggle="button" ng-click="selectChartType(0)">{{'$S_str_BarChart' | i18n}}</button>
							<button class="btn btn-large" data-toggle="button" ng-click="selectChartType(1)">{{'$S_str_LineChart' | i18n}}</button>
							<button class="btn btn-large" data-toggle="button" ng-click="selectChartType(2)">{{'$S_str_PieChart' | i18n}}</button>
						</div>
					</div>
					<div class="clearfix" style="margin-top: 20px">
						<div class="fieldset-description">
							<span style="margin-left: 10px">{{'$S_msg_SelectColumn' | i18n}}</span>
							<a href="#" ng-click="showMoreColOption($event)" ng-hide="moreCol">{{'$S_msg_NoSelectableColumn' | i18n}}</a>
							<div class="well" style="margin-top: 5px" ng-show="moreCol" ng-class="{ moreCol: moreCol }">
								<div style="margin-bottom: 5px;line-height: 2;">{{'$S_msg_SelectableColumn' | i18n}}</div>
								<label>{{'$S_str_ColumnName' | i18n}}</label> <input type="text" ng-model="dataCustomColumn">
								<label>{{'$S_str_ColumnType' | i18n}}</label>
								<select ng-model="selectedCustomColumnType" ng-options="ct.displayName for ct in dataCustomColumnTypes"></select>
								<button class="btn" style="margin-bottom:-2px" ng-click="addCustomColumn()">{{'$S_str_AddAndSelectColumn' | i18n}}</button>
							</div>
						</div>
						<div class="qr-container" style="width: 978px; height: 240px; overflow: scroll; margin-top: 5px">
							<query-result
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"
								is-selectable="true"
								class="qr2 qr-selectable"></query-result>
						</div>
					</div>
					<div class="control-group submit-group">
						<button class="wiz-prev btn" ng-click="go(1)">{{'$S_str_Previous' | i18n}}</button>
						<button class="wiz-next btn" ng-click="go(5, widgetType.s4nextCallback(), widgetType.s4nextEvent())">{{'$S_str_Next' | i18n}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 5 -->
			<li class="wiz-step" ng-controller="ChartBindingController">
				<legend>{{'$S_str_BindingDataToChart' | i18n}}</legend>
				<fieldset>
					<div class="fieldset-description"></div>
					<div style="width: 60%; float: left">
						<div class="qr-container" style="width: 772px; height: 240px; overflow: scroll">
							<query-result
								ng-template="qrTmpl"
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"
								class="qr2 qr-selected"></query-result>
						</div>
						<div style="width: 22%; float: left">
							<ul class="nav nav-pills nav-stacked" style="max-height: 100px; overflow: auto; margin-left: 0; padding: 5px; border: 1px solid #ccc">
								<li ng-repeat="(i, s) in dataSeries" class="clearboth" ng-class="{active: selectedSeriesIdx == i}">
									<a ng-click="selectSeries(i)">
										<span>{{s.name}}</span>
										<button class="close widget-refresh pull-right" ng-click="removeSeries(i)">
											<i class="icon-minus pull-right" ng-style="{backgroundColor: s.color}"></i>
										</button>
									</a>
								</li>
							</ul>
							<button class="btn" ng-click="addSeries()"><i class="icon-plus"></i>{{'$S_str_AddSeries' | i18n}}</button>
						</div>
						<div class="form-horizontal" style="width: 75%; float: right; border-top: 1px solid #ccc; padding-top: 15px; margin-left: 15px; background-color: #f0f0f0">
							<div class="control-group">
								<label class="control-label" for="widgetName">{{'$S_str_Name' | i18n}}</label>
								<div class="controls">
									<input id="widgetName" type="text" ng-model="dataSeries[selectedSeriesIdx].name"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="widgetInterval">{{'$S_str_Value' | i18n}}</label>
								<div class="controls">
									<select ng-model="dataSeries[selectedSeriesIdx].value" ng-options="col.name for col in dataNumberTypeCols"></select>
								</div>
							</div>
						</div>
						<div class="form-horizontal" style="width: 75%; float: right; border-top: 1px solid #ccc; padding-top: 15px; margin-left: 15px; margin-bottom: 36px; background-color: #f0f0f0" ng-show="chartType.name == 'bar' || chartType.name == 'pie'">
							<div class="control-group">
								<label class="control-label" for="widgetInterval">{{'$S_str_Label' | i18n}}</label>
								<div class="controls">
									<select ng-model="dataLabel" ng-options="col.name for col in qrCols"></select>
								</div>
							</div>
						</div>
						<div class="form-horizontal" style="width: 75%; float: right; border-top: 1px solid #ccc; padding-top: 15px; margin-left: 15px; margin-bottom: 36px; background-color: #f0f0f0" ng-show="chartType.name == 'line'">
							<div class="control-group">
								<label class="control-label">{{'$S_str_AxisX' | i18n}}</label>
								<div class="controls">
									<select ng-model="dataLabel" ng-options="col.name for col in dataNumberDatetimeTypeCols"></select>
								</div>
							</div>
						</div>
					</div>
					<div class="charthere">
						<figure>
							<svg></svg>
						</figure>
					</div>
					<div class="control-group submit-group clearboth" style="bottom: 15px; left: 20px; right: 27px; position: absolute">
						<button class="wiz-prev btn" ng-click="go(4)">{{'$S_str_Previous' | i18n}}</button>
						<button class="wiz-next btn" ng-click="go(3, widgetType.s5nextCallback())">{{'$S_str_Next' | i18n}}</button>
					</div>
				</fieldset>
			</li>
		</ol>
	</div>
	<script src="dashboard.js"></script>

</body>
</html>