<link href="test/layoutEngine/layoutEngine.css" rel="stylesheet" media="screen">
<style>
#view-dashboard {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
}

span[click-to-edit] input[type=text] {
	margin: -2px;
	padding: 2px 4px;
}

.k-d-col {
	height: 100%;
}

.dashboard-container {
	width: 100%;
	height: 100%
}

.preset-container {
	width: 100%;
	height: calc(100% - 42px);
}

.dockpanel {
	width: 100%;
	height: 100%;
}

.widget {
	height: 100%;
}

.widget figure {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

.brandpreset {
	line-height: 39px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	margin: auto;
	width: 400px;
	text-align: center;
	margin-top: -35px;
}


	.wizard {
		float: left;
		width: 98%;
		margin-left: 10px;
		padding-left: 0px;
		border-left: 0px;
	}

	.newWidget {
		/*-webkit-transition: .1s ease-in;*/
		overflow: hidden;
	}

	.newWidget.step0 {
		width: 700px;
		margin-left: -350px;
	}

	.newWidget.step1 {
		/*
		width: 800px;
		margin-left: -400px;
		*/
	}

	.newWidget.step2 {
		width: 1000px;
		margin-left: -500px;
		/* height: 500px; */
	}

	.newWidget.step3, .removePreset, .clearWidgets {
		width: 540px;
		margin-left: -270px;
	}

	.newWidget.step4 {
		width: 1000px;
		margin-left: -500px;
	}

	.newWidget.step5 {
		width: 96.5%;
		min-width: 1000px;
		margin-left: -49%;
		min-height: 90%;
		top: 10px;
	}

	[fx-dashboard-id=binding-left] {
		position: relative;
		width: 58%;
		left: 0;
		border: 0;
	}

	[fx-dashboard-id=binding-right] {
		position: absolute;
		width: 39%;
		right: 0;
		height: 440px;
		border: 1px solid silver;
		top: 0;
	}

	[fx-dashboard-id=binding-query-result] {
		height: 235px;
		border: 1px solid silver;
		margin-bottom: 5px;
	}

	[fx-dashboard-id=config-container] {
		height: 200px;
		position: relative;
	}

	[fx-dashboard-id=series] {
		position: absolute;
		left:0;
		width: 22%;
		height: 200px;
		border: 0;	
	}
	
	[fx-dashboard-id=series-list] {
		border: 1px solid silver;
		height: 160px;
	}

	[fx-dashboard-id=series-toolbar] {
		margin-top: 5px;
	}

	[fx-dashboard-id=config] {
		background-color: #f0f0f0;
		padding-top: 10px;
		position: absolute;
		right: 0;
		width: 76%;
		height: 190px;
		border: 0;
	}

	.qr-container {
		overflow-x: scroll;
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}

	.cmpqr td, .cmpqr th {
		word-wrap: break-word;
	}

	.cmpqr.selectable td, .cmpqr.selectable th {
		cursor: pointer;
	}

	.cmpqr.selectable td.selected, .cmpqr th.selected {
		background-color: rgba(0, 153, 255, .2);
	}

	.cmpqr.selectable tr:nth-child(odd) > td.selected {
		background-color: rgba(0, 153, 255, .3);
	}

	.cmpqr.selectable th.selected {
		background-color: rgba(0, 153, 255, .4);
		border-bottom: 1px solid rgba(0, 153, 255, .6);
	}


	.table-condensed-custom tr:nth-child(odd) {
		background-color: rgb(243,243,243);
	}

	.table-condensed-custom tr:first-child {
		background-color: rgb(234,234,234);
	}

	/* ListBox */

	.listbox {
		border: 1px solid #ccc;
		margin-bottom: 20px;
	}

	.arrangeCols {
		float: right;
		width: 17%;
	}

	.listbox > li {
		padding: 3px 11px;
		margin: 1px;
		list-style-type: none;
		clear: both;
	}

	li > input[type=checkbox] {
		vertical-align: top;
	}

	ul.ui-sortable > li {
		border: 1px solid transparent;
		background-color: transparent;
		cursor: pointer;
	}

	ul.ui-sortable > li:hover {
		border: 1px solid transparent;
		background-color: #ebf2fc;
	}

	ul.ui-sortable > li.ui-sortable-helper, ul.ui-sortable > li.ui-sortable-helper:hover {
		border: 1px solid rgba(82, 168, 236, 0.8);
		background-color: #ebf2fc; /* #cceaff */
		box-shadow: 1px 1px 10px #aaa;
	}


	div.property {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.5);
		border: 0;
	}

	div.property-inner {
		margin: 60px 40px 40px;
		background-color: white;
		padding: 10px;
		box-shadow: 0 0 5px #000;
	}
</style>
<div class="dashboard-container" ng-controller="DashboardController">
	<div ng-controller="PresetController" class="toolbar navbar navbar-top" style="margin-bottom: 0px">
		<div class="navbar-inner">
			<!--<select style="float: left; margin-top: 5px; margin-bottom: 0; margin-left: 5px" ng-model="selectedPreset" ng-options="preset.name for preset in dataPresetList"></select>
			-->
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					{{'$S_str_NewPreset' | translate}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" ng-click="New()">{{'$S_str_BlankPreset' | translate}}</a></li>
					<li><a tabindex="-1" ng-click="SaveAs()">{{'$S_str_SavePresetAs' | translate}}</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					{{'$S_str_LoadPreset' | translate}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="preset in dataPresetList">
						<a tabindex="-1" ng-click="Load(preset)" style="padding-left:10px">
							<i ng-class="{ 'icon-ok': preset.guid == currentPreset.guid, 'icon-noncheck': preset.guid != currentPreset.guid }"></i>
							{{preset.name}}
						</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<i class="icon-wrench"></i>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" ng-click="AlertRemove()">{{'$S_str_RemoveThisPreset' | translate}}</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" ng-click="AlertClear()">{{'$S_str_RemoveAllWidgets' | translate}}</a></li>
				</ul>
			</div>
			<button class="btn btn-primary pull-right" style="margin-right: 5px" ng-click="openNewWidget()">{{'$S_str_AddWidget' | translate}}</button>
			<div class="brandpreset">{{currentPreset.name}}</div>
		</div>

		<div class="modal clearWidgets" modal>
			<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
			<legend>{{'$S_str_RemoveAllWidgets' | translate}}</legend>
			<div style="margin-bottom: 20px">
				{{'$S_msg_RemoveAllWidgets' | translate}}
			</div>
			<div class="control-group submit-group">
				<button class="btn btn-danger" ng-click="Clear()">{{'$S_str_Remove' | translate}}</button>
				<button class="btn" ng-click="CancelClear()">{{'$S_str_Cancel' | translate}}</button>
			</div>
		</div>

		<div class="modal removePreset" modal>
			<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
			<legend>{{'$S_str_RemovePreset' | translate}}</legend>
			<div style="margin-bottom: 20px">
				{{'$S_msg_RemovePresetConfirmPre' | translate}}<code>{{currentPreset.name}}</code>{{'$S_msg_RemovePresetConfirmPost' | translate}}
			</div>
			<div class="control-group submit-group">
				<button class="btn btn-danger" ng-click="Remove()">{{'$S_str_Remove' | translate}}</button>
				<button class="btn" ng-click="CancelRemove()">{{'$S_str_Cancel' | translate}}</button>
			</div>
		</div>
	</div>

	<div class="preset-container">
		<div class="dockpanel"></div>
	</div>

	
	<div class="modal errorWin" modal>
		<a class="modal-close close" ng-click="clearError()">&times;</a>
		<div class="raw"></div>
	</div>

	<div class="modal newWidget step0" modal ng-controller="NewWidgetWizardController">
		<a class="modal-close close">&times;</a>
		<ol class="wizard">
			<!-- 0 -->
			<li class="wiz-step active">
				<legend>{{'$S_str_SelectWidgetType' | translate}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_SelectWidgetType' | translate}}</div>
					<ul class="radio">
						<li>
							<input type="radio" ng-model="widgetTypeName" value="table" ng-change="selectType(0)" id="radioTable">
							<label class="radio" for="radioTable">{{'$S_str_Table' | translate}}</label>
						</li>
						<li>
							<input type="radio" ng-model="widgetTypeName" value="graph" ng-change="selectType(1)" id="radioGraph">
							<label class="radio" for="radioGraph">{{'$S_str_Chart' | translate}}</label>
						</li>
					</ul>
					<div style="margin-bottom: 20px" ng-bind="selectedParserFactory.description"></div>
					<div class="control-group submit-group">
						<button class="wiz-next btn" ng-click="go(1, widgetType.s0nextCallback())">{{'$S_str_Next' | translate}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 1 -->
			<li class="wiz-step">
				<legend>{{'$S_str_QueryData' | translate}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_QueryData' | translate}}</div>
					<div>
						<query-input
							ng-model="qresult"
							ng-page-size="numPagerPagesize"
							ng-query-string="ctxWidget.data.query"
							ng-pid="getPid"
							on-loading="inputOnloading($msg)"
							on-loaded="inputOnloaded($msg)"
							on-page-loaded="inputOnpageloaded()"></query-input>
						<div class="qr-container" style="width: 880px">
							<query-result class="qr1"
								ng-model="qresult"
								ng-query="ctxWidget.data.query"
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"></query-result>
						</div>
					</div>
					<div class="control-group submit-group">
						<button class="wiz-prev btn" ng-click="go(0)">{{'$S_str_Previous' | translate}}</button>
						<button class="wiz-next btn" ng-click="go(widgetType.s1next)">{{'$S_str_Next' | translate}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 2 -->
			<li class="wiz-step">
				<legend>{{'$S_str_SelectAndReorderColumn' | translate}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_SelectAndReorderColumn' | translate}}</div>
					<div>
						<div class="qr-container" style="width: 780px; float: left">
							<query-result class="qr2 qr-select-table"
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"></query-result>
						</div>
						<ul class="listbox arrangeCols" ui-sortable ng-model="qrCols">
							<li ng-repeat="(i, col) in qrCols">
								<input type="checkbox" ng-model="col.is_visible">
								<span>{{col.name}}</span>
							</li>
						</ul>
					</div>
					<div class="control-group submit-group clearboth">
						<button class="wiz-prev btn" ng-click="go(1)">{{'$S_str_Previous' | translate}}</button>
						<button class="wiz-next btn" ng-click="go(3)">{{'$S_str_Next' | translate}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 3 -->
			<li class="wiz-step">
				<legend>{{'$S_str_WidgetCommonSetting' | translate}}</legend>
				<fieldset>
					<div class="fieldset-description">{{'$S_msg_WidgetCommonSetting' | translate}}</div>
					<div class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="widgetName">{{'$S_str_Name' | translate}}</label>
							<div class="controls">
								<input id="widgetName" type="text" ng-model="ctxWidget.name"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="widgetInterval">{{'$S_str_Interval' | translate}}</label>
							<div class="controls">
								<input id="widgetInterval" type="number" ng-model="ctxWidget.interval" min="5"/> <ng-pluralize count="ctxWidget.interval" when="formSecond"></ng-pluralize>
							</div>
						</div>
					</div>
					<div class="control-group submit-group clearboth">
						<button class="wiz-prev btn" ng-click="go(widgetType.s3prev)">{{'$S_str_Previous' | translate}}</button>
						<button class="wiz-next btn" ng-click="submit()">{{'$S_str_Done' | translate}}</button>
					</div>
				</fieldset>
			</li>

			<!-- 4 -->
			<li class="wiz-step" ng-controller="SelectColumnController">
				<legend>{{'$S_str_BindingDataToChart' | translate}}</legend>
				<fieldset>
					<div class="alert alert-error check-col-info" style="display:none">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<span></span>
					</div>
					<div class="well clearfix">
						<span class="pull-left" style="margin-top: 12px;margin-right: 10px">{{'$S_msg_SelectChartType' | translate}}</span>
						<div class="btn-group pull-left" data-toggle="buttons-radio">
							<button class="btn btn-large active" data-toggle="button" ng-click="selectChartType(0)">{{'$S_str_BarChart' | translate}}</button>
							<button class="btn btn-large" data-toggle="button" ng-click="selectChartType(1)">{{'$S_str_LineChart' | translate}}</button>
							<button class="btn btn-large" data-toggle="button" ng-click="selectChartType(2)">{{'$S_str_PieChart' | translate}}</button>
						</div>
					</div>
					<div class="clearfix" style="margin-top: 20px">
						<div class="fieldset-description">
							<span style="margin-left: 10px">{{'$S_msg_SelectColumn' | translate}}</span>
							<a ng-click="showMoreColOption($event)" ng-hide="moreCol">{{'$S_msg_NoSelectableColumn' | translate}}</a>
							<div class="well" style="margin-top: 5px" ng-show="moreCol" ng-class="{ moreCol: moreCol }">
								<div style="margin-bottom: 5px;line-height: 2;">{{'$S_msg_SelectableColumn' | translate}}</div>
								<label>{{'$S_str_ColumnName' | translate}}</label> <input type="text" ng-model="dataCustomColumn">
								<label>{{'$S_str_ColumnType' | translate}}</label>
								<select ng-model="selectedCustomColumnType" ng-options="ct.displayName for ct in dataCustomColumnTypes"></select>
								<button class="btn" style="margin-bottom:-2px" ng-click="addCustomColumn()">{{'$S_str_AddAndSelectColumn' | translate}}</button>
							</div>
						</div>
						<div class="qr-container" style="width: 978px; height: 240px; overflow: scroll; margin-top: 5px">
							<query-result
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"
								is-selectable="true"
								class="qr2 qr-selectable"></query-result>
						</div>
					</div>
					<div class="control-group submit-group">
						<button class="wiz-prev btn" ng-click="go(1)">{{'$S_str_Previous' | translate}}</button>
						<button class="wiz-next btn" ng-click="go(5, widgetType.s4nextCallback(), widgetType.s4nextEvent())">{{'$S_str_Next' | translate}}</button>
					</div>
				</fieldset>
			</li>
			<!-- 5 -->
			<li class="wiz-step" ng-controller="ChartBindingController">
				<legend>{{'$S_str_BindingDataToChart' | translate}}</legend>
				<fieldset style="position: relative">
					<div class="fieldset-description"></div>
					<div fx-dashboard-id="binding-left">
						<div fx-dashboard-id="binding-query-result">
							<query-result
								style="position: absolute; width: calc(100% - 2px); height: 234px; overflow: auto"
								ng-template="qrTmpl"
								ng-model="qresult"
								ng-query="ctxWidget.data.query" 
								ng-page="numCurrentPage"
								ng-page-size="numPagerPagesize"
								is-check-type="true"
								class="qr2 qr-selected"></query-result>
						</div>
						<div fx-dashboard-id="config-container">
							<div fx-dashboard-id="series">
								<div fx-dashboard-id="series-list">
									<ul class="nav nav-pills nav-stacked">
										<li ng-repeat="(i, s) in dataSeries" class="clearboth" ng-class="{active: selectedSeriesIdx == i}">
											<a ng-click="selectSeries(i)">
												<span>{{s.name}}</span>
												<button class="close widget-refresh pull-right" ng-click="removeSeries(i)">
													<i class="icon-minus pull-right" ng-style="{backgroundColor: s.color}"></i>
												</button>
											</a>
										</li>
									</ul>
								</div>
								<div fx-dashboard-id="series-toolbar">
									<button class="btn" ng-click="addSeries()"><i class="icon-plus"></i>{{'$S_str_AddSeries' | translate}}</button>
								</div>
							</div>
							<div fx-dashboard-id="config">
								<div class="form-horizontal">
									<div class="control-group">
										<label class="control-label" for="widgetName">{{'$S_str_Name' | translate}}</label>
										<div class="controls">
											<input id="widgetName" type="text" ng-model="dataSeries[selectedSeriesIdx].name"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="widgetInterval">{{'$S_str_Value' | translate}}</label>
										<div class="controls">
											<select ng-model="dataSeries[selectedSeriesIdx].value" ng-options="col.name for col in dataNumberTypeCols"></select>
										</div>
									</div>
								</div>
								<div class="form-horizontal" ng-show="chartType.name == 'bar' || chartType.name == 'pie'">
									<div class="control-group">
										<label class="control-label" for="widgetInterval">{{'$S_str_Label' | translate}}</label>
										<div class="controls">
											<select ng-model="dataLabel" ng-options="col.name for col in qrCols"></select>
										</div>
									</div>
								</div>
								<div class="form-horizontal" ng-show="chartType.name == 'line'">
									<div class="control-group">
										<label class="control-label">{{'$S_str_AxisX' | translate}}</label>
										<div class="controls">
											<select ng-model="dataLabel" ng-options="col.name for col in dataNumberDatetimeTypeCols"></select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div fx-dashboard-id="binding-right" class="charthere"></div>
				</fieldset>
				<div class="control-group submit-group clearboth">
					<button class="wiz-prev btn" ng-click="go(4)">{{'$S_str_Previous' | translate}}</button>
					<button class="wiz-next btn" ng-click="go(3, widgetType.s5nextCallback())">{{'$S_str_Next' | translate}}</button>
				</div>
			</li>
		</ol>
	</div>
</div>