
		/* ------------ */
		.excel * {
			box-sizing: border-box;
			/* box-sizing: content-box; */
		}

		.excel table {
			position: relative;
			border-collapse: separate;
			border-spacing: 0;
			z-index: 1;

			/* border-color: #ccc; */
		}

		.excel th, .excel td {
			/* border-color: #ccc; */
		}

		.ecborder {
			position: absolute;
		}

		.ecborder.current, .ecborder.selection {
			left: 0;
			top: 0;
			
		}

		.transition {
			-webkit-transition: 0s;
		}

		.ecborder.bordered {
			border: 0px solid #0099ff;
		}

		.ecborder.selection {
			border: 2px solid #0099ff;
		}

		.ecborder.selection.focused {
			z-index: 3;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2)
		}

		.ecborder.selection.unbordered {
			background-color: #E1E6F6;
		}

		.ecborder.selection.bordered {
			/*background-color: #fc0; */
		}

		.ecborder.current.unbordered {
			background-color: #EEF4FF;
		}

		.excel .cell {
			width: 100%;
			height: 100%;
			border: 0;

		}

		.inputproxy {
			/*
			width: 600px;
			height: 300px;
			opacity: 1;
			*/
			
			width: 1px;
			height: 1px;
			opacity: 0;
			

			padding: 0;
		}

		/*
		.ecborder.current.bordered {
			border: 2px solid #0099ff;
		}
		*/
