<!doctype html>
<html ng-app>
<head>
	<title>draw</title>
	<style>
	#sq-container {
		width: 80%;
		height: 400px;
		border: 1px solid gray;
		overflow: auto;
	}

	#sq-container .node {
		border: 1px solid gray;
		background-color: lightblue;
		font-size: .75em;
		padding: 1px 5px;
		border-radius: 5px;
	}
	</style>
	<script src="/lib/angular/angular.js"></script>
</head>
<body ng-controller="StreamQueryController">
	<div id="sq-container" style="position:relative">
		<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" ng-style="{position: 'absolute',left: '0px',top: i * 20 + 'px', width: '100%', borderBottom: '1px dotted #ddd'}">{{i}}</div>
		<div class="node" ng-repeat="sq in sqs" ng-style="sq._getStyle(sq)">{{sq.name}}</div>
	</div>
	<table>
		<tbody>
			<tr ng-repeat="r in reg">
				<td ng-repeat="sq in r">{{sq.name}}, {{sq._top}}, {{sq._depth}}</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>name</th>
				<th>streams</th>
				<th>depth</th>
				<th>children</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sq in sqs">
				<td>{{sq.name}}</td>
				<td>{{sq.streams}}</td>
				<td>{{sq._depth}}</td>
				<td>{{sq._children.length}}</td>
			</tr>
		</tbody>
	</table>

	<script src="streamquery.js"></script>
</body>
</html>