
	<style>
.pane-nomargin {
	padding: 0;
}

/*  */
.treetype {
	position: relative;
}

.leftPane tree > ul {
	clear: both;
	/*padding-top: 40px;*/
}

.li-edit {
	padding: 3px 15px;
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	display: block;
	white-space: nowrap;
}

.li-edit input {
	margin: -3px 0;
	display: inline-block;
	width: 140px;
	padding: 1px 5px;
}

.dropdown-menu.upper {
	top: -110px !important;
}

/* */

.leftPane, .rightPane {
	-webkit-transition: .3s ease;
}

.leftPane {
	left: 0;
}

.leftPane.out {
	left: -24%;
}

.leftPane.glimpse {
	/*-webkit-transition: none;*/
	left: 0;
}

.leftPaneOverHandler {
	position: fixed;
	top: 30px;
	bottom: 0;
	width: 10px;
	background-color: #eee;
	border-right: 1px #ccc solid;
	box-shadow: 0 0 40px rgba(0,0,0,.4);
}

.rightPane.out {
	margin-left: -2%;
}

button[el-type=dropdown] {
	background: transparent;
	border: 0;
	width: 22px;
	margin-right: -11px;
}

button[el-type=dropdown] span.caret {
	margin-top: 6px;
	border-top-color: #666;
	border-width: 5px;
}

button[el-type=dropdown]:hover span.caret {
	border-top-color: #333;
}

.table-form td:first-child {
	width: 120px;
	vertical-align: middle;
}

.table-form td input, .table-form td textarea {
	margin-bottom: 0;
}

table.listUsers {
	table-layout: fixed;
}

.mdlChangePassword, .mdlRemoveUsers, .mdlRemoveOrgUnit {
	position: absolute;
	width: 520px;
	margin-left: -285px;
	padding: 10px 20px;
}

input.searchbox {
	left: 0;
	-webkit-transition: 0.1s ease;
	background: white;
	text-align: left;
	right: 0;
	position: absolute;
	width: auto;
	top: 5px;
}

.controls > .help-inline {
	margin-top: 6px;
}

	</style>

<div class="orgchart-container" ng-controller="OrgChartController">
	<div class="leftPane well" style="z-index:8; overflow-x:visible" ng-controller="OrgUnitTreeController" ng-mouseover="glimpseLeftPane()" ng-mouseout="outLeftPane()">
		<!-- <div class="switch android" ng-class="{ 'hidden':isEditMode }">
			<input id="orgunit" name="view" type="radio" checked>
			<label for="orgunit" ng-click="toggleLogTrendType('byorgunit')">부서별</label>
			<input id="group" name="view" type="radio">	
			<label for="group" ng-click="toggleLogTrendType('bygroup')">그룹별</label>
			<span class="slide-button"></span>
		</div> -->
		<div class="treetype byorgunit">
			<!-- <input class="searchbox" type="search" placeholder="부서 검색" ng-model="orgunitSearch.$"> -->
			<tree id="treeOrgUnit" class="clearboth" style="top: 50px" tree-data="treeDataSourceWithRoot | filter:orgunitSearch"
				node-id="guid"
				node-name="name"
				node-selected="_tables"
				node-editable="true"
				ng-click="closeExtraPane()"
				node-event="treeEvent">
			</tree>
		</div>
		<!-- <div class="treetype bygroup" style="display:none">
			<input class="searchbox" type="search" placeholder="그룹 검색">
			<tree class="clearboth" style="top: 50px" tree-data="treeOtherSource"
				node-id="guid"
				node-name="name"
				node-selected="_tables">
			</tree>
		</div> -->

		<div class="modal mdlRemoveOrgUnit" modal>
			<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
			<legend>{{'$S_str_RemoveOrganization' | translate}}</legend>
			<div style="margin-bottom: 20px">
				{{'$S_msg_RemoveOrganizationConfirmPre' | translate}}<code>{{selectedOrgUnitName}}</code>{{'$S_msg_RemoveOrganizationConfirmPost' | translate}}
			</div>
			<div class="control-group submit-group">
				<button class="btn btn-danger" ng-click="removeOrgUnit()">{{'$S_str_Remove' | translate}}</button>
				<button class="btn" ng-click="cancelRemoveOrgUnit()">{{'$S_str_Cancel' | translate}}</button>
			</div>
		</div>
	</div>

	<div class="leftPaneOverHandler" ng-mouseover="glimpseLeftPane()" ng-hide="isUserEditMode"></div>

	<div class="rightPane">
		<ul>
			<li ng-controller="UserListController" class="pane pane-nomargin">
				<div class="navbar">
					<div class="navbar-inner">
						<button ng-click="closeExtraPane()" class="btnShowTree btn btn-primary pull-left" style="margin-right: 15px; display:none"><i class="icon-white icon-list"></i></button>
						<a class="brand">{{currentOrgUnit.name}}</a>
						<div ng-hide="isEditMode">
							<button class="btn pull-left" ng-click="addUser()" ng-show="canUserEdit">{{'$S_str_NewUser' | translate}}</button>
							<form class="navbar-search pull-left" style="margin-left: 10px">
								<input type="search" placeholder="{{'$S_str_SearchUser' | translate}}" ng-model="search.$">
							</form>
							<button class="btn pull-right" ng-show="canUserEdit" ng-click="enterEditMode()">{{'$S_str_Edit' | translate}}</button>
							<!-- <button class="btn pull-left" ng-click="testAlert()">test alert</button> -->
						</div>
						<div ng-show="isEditMode">
							<div class="btn-group pull-left">
								<button class="btn" ng-click="addUser()">{{'$S_str_NewUser' | translate}}</button>
								<!-- <button class="btn" ng-disabled="canMoveOrRemove()">이동</button> -->
								<button class="btn" ng-disabled="canMoveOrRemove()" ng-click="removeUsers()">{{'$S_str_Remove' | translate}}</button>
							</div>
							<form class="navbar-search pull-left" style="margin-left: 10px">
								<input type="search" placeholder="{{'$S_str_SearchUser' | translate}}" ng-model="search.$">
							</form>
							<button class="btn btn-primary pull-right" ng-click="endEditMode()">{{'$S_str_Done' | translate}}</button>
						</div>
					</div>
				</div>
				<ul class="tab well1 tab-general">
					<li class="section well1">
						<div class="pull-right">
							{{'$S_msg_TotalUsersPre' | translate}}{{dataUsers.length}}<ng-pluralize count="dataUsers.length" when="formUser"></ng-pluralize>{{'$S_msg_TotalUsersPost' | translate}}
							<span ng-hide="(dataUsers | filter:search).length == dataUsers.length"> / {{'$S_msg_SearchedUsersPre' | translate}}{{(dataUsers | filter:search).length}}<ng-pluralize count="(dataUsers | filter:search).length" when="formUser"></ng-pluralize>{{'$S_msg_SearchedUsersPost' | translate}}</span>
							<span ng-hide="canMoveOrRemove()">, {{'$S_msg_SelectedUsersPre' | translate}}{{(dataUsers | isSelected: 'is_checked').length}}<ng-pluralize count="(dataUsers | isSelected: 'is_checked').length" when="formUser"></ng-pluralize>{{'$S_msg_SelectedUsersPost' | translate}}</span>
						</div>
						<table class="table table-bordered table-striped listUsers" ng-class="{'isEditMode': isEditMode}">
							<thead>
								<tr>
									<th ng-class="{ 'td-check-show': isEditMode, 'td-check-hide': !isEditMode }" style="padding: 3px; vertical-align: middle">
										<button class="btn btn-mini" ng-click="toggleSelectAll()">
											<i class="icon-check"></i>
										</button>
									</th>
									<th>{{'$S_str_LoginName' | translate}}</th>
									<th>{{'$S_str_Name' | translate}}</th>
									<th>{{'$S_str_Organization' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-click="showUser($event)"
									ng-repeat="user in dataUsers | filter: search"
									ng-class="{'tr-selected': user.is_checked, 'tr-single-selected': user.is_selected}"
									draggable="isEditMode" el-type="user"
									tr-multi-selectable="{ 'data': user, 'condition': 'isEditMode' }">
									<td ng-class="{ 'td-check-show': isEditMode, 'td-check-hide': !isEditMode }">
										<input type="checkbox" ng-model="user.is_checked" ng-checked="user.is_checked">
									</td>
									<td>{{user.login_name}}</td>
									<td>{{user.name}}</td>
									<td>{{user.org_unit.name}}</td>
								</tr>
							</tbody>
						</table>
						<!-- canUserEdit: {{canUserEdit}}<br>
						canConfigEdit: {{canConfigEdit}}<br>
						canAdminGrant: {{canAdminGrant}}<br>
						amI: {{amI}}<br> -->
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="extraPane" ng-controller="UserController" ng-class="{ 'extend': isUserEditMode }">
		<div class="extraPane-inner">
			<ul style="margin: 0">
				<li class="pane pane-nomargin">
					<form name="frmUser" style="margin:0">
						<div class="navbar extraPane-navbar">
							<div class="navbar-inner" style="position:relative">
								<input type="text" class="txtNewLoginName input-single" name="login_name" placeholder="{{'$S_msg_PleaseEnterLoginName' | translate}}" style="float: left; margin: 5px;"
									ng-model="selectedUserCopy.login_name"
									ng-show="selectedUser._isNew && isUserEditMode"
									ng-unique="{ source: dataAllUsers, property: 'login_name', condition: selectedUser._isNew }"
									ng-class="{ 'error': frmUser.login_name.$error.unique || frmUser.login_name.$error.required }" required>
								<div class="popover popover-black fade left in" ng-show="frmUser.login_name.$error.required" style="left: -290px">
									<div class="arrow"></div>
									<div class="popover-content" style="color:#b94a48">{{'$S_msg_LoginNameRequiredError' | translate}}</div>
								</div>
								<div class="popover popover-black fade left in" ng-show="frmUser.login_name.$error.unique" style="left: -290px">
									<div class="arrow"></div>
									<div class="popover-content" style="color:#b94a48">{{'$S_msg_LoginNameUniqueError' | translate}}</div>
								</div>
								<a class="brand">{{selectedUser.login_name}}</a>
								<div ng-hide="isUserEditMode">
									<div class="btn-group">
										<button class="btn" ng-click="closeExtraPane()">{{'$S_str_Close' | translate}}</button>
									</div>
									<div class="pull-right btn-group" ng-show="(canUserEdit && isLowerLevel) || amI">
										<button class="btn" ng-click="openDialogChangePassword()">{{'$S_str_ChangePassword' | translate}}</button>
										<button class="btn" ng-click="enterUserEditMode()">{{'$S_str_Edit' | translate}}</button>
									</div>
								</div>
								<div ng-show="isUserEditMode">
									<button class="btn btn-warning" ng-click="discardUserInfo()">{{'$S_str_Cancel' | translate}}</button>
									<button class="btn btn-primary pull-right" ng-disabled="frmUser.$invalid" ng-click="saveUserInfo()">{{'$S_str_Done' | translate}}</button>
								</div>
							</div>
						</div>
						<section>
							<ul class="tab well1 tab-general" ng-show="isUserEditMode">
								<li class="section area" ng-show="selectedUserCopy._isNew">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Password' | translate}}</td>
												<td class="control-group" ng-class="{ 'error': frmUser.password.$error.inadequacy }" style="position: relative">
													<input type="password" name="password" class="input-xlarge" ng-model="selectedUserCopy.password" password-validate="{ condition: selectedUserCopy._isNew }">
													<div class="popover popover-black fade left in" ng-show="frmUser.password.$error.inadequacy" style="left: -465px; top: -5px">
														<div class="arrow"></div>
														<div class="popover-content help-inline">{{'$S_msg_PasswordInadequacyError' | translate}}</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>{{'$S_str_PasswordRetype' | translate}}</td>
												<td class="control-group" ng-class="{ 'error': frmUser.passwordConfirm.$error.mismatch }" style="position: relative">
													<input type="password" name="passwordConfirm" class="input-xlarge" ng-model="selectedUserCopy.passwordConfirm" match="selectedUserCopy.password">
													<div class="popover popover-black fade left in" ng-show="frmUser.passwordConfirm.$error.mismatch" style="left: -465px; top: 10px">
														<div class="arrow"></div>
														<div class="popover-content help-inline">{{'$S_msg_PasswordMismatchError' | translate}}</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</li>
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Name' | translate}}</td>
												<td class="control-group" ng-class="{ 'error': frmUser.name.$error.required }" style="position: relative">
													<input type="text" name="name" class="input-xlarge" ng-model="selectedUserCopy.name" required>
													<div class="popover popover-black fade left in" ng-show="frmUser.name.$error.required" style="left: -465px">
														<div class="arrow"></div>
														<div class="popover-content help-inline">{{'$S_msg_NameRequiredError' | translate}}</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>{{'$S_str_Title' | translate}}</td>
												<td><input type="text" class="input-xlarge" ng-model="selectedUserCopy.title"></td>
											</tr>
											<tr>
												<td>{{'$S_str_OrganizationUnit' | translate}}</td>
												<td>
													<div class="btn-group">
														<a class="btn dropdown-toggle" data-toggle="dropdown">
															<span ng-show="selectedUserCopy.org_unit == null" style="color:#999">{{'$S_str_Unassigned' | translate}}</span>
															{{selectedUserCopy.org_unit.name}}
															<span class="caret"></span>
														</a>
														<div class="dropdown-menu" style="z-index:8888" ng-click="supressEvent($event)">
															<!-- <input type="text" class="input-large search-query" style="margin: 2px 8px 6px"> -->
															<tree id="treeToChangeOrgUnit" tree-data="treeDataSource"
																node-id="guid"
																node-name="name"
																node-selected="_tables">
															</tree>
														</div>
													</div>
													<button ng-hide="selectedUserCopy.org_unit == null" class="btn btn-mini btn-inverse" ng-click="deallocateGroup()">
														<i class="icon-white icon-remove"></i>
													</button>
												</td>
											</tr>
											<tr>
												<td>{{'$S_str_Email' | translate}}</td>
												<td class="control-group" ng-class="{ 'error': frmUser.email.$error.email }" style="position: relative">
													<input type="email" name="email" class="input-xlarge" placeholder="user@domain.com" ng-model="selectedUserCopy.email">
													<div class="popover popover-black fade left in" ng-show="frmUser.email.$error.email" style="left: -465px">
														<div class="arrow"></div>
														<div class="popover-content help-inline">{{'$S_msg_EmailError' | translate}}</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</li>
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Description' | translate}}</td>
												<td><textarea class="input-xlarge" ng-model="selectedUserCopy.description"></textarea></td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
							<ul class="tab area tab-general" ng-hide="isUserEditMode">
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Name' | translate}}</td>
												<td>{{selectedUser.name}}</td>
											</tr>
											<tr>
												<td>{{'$S_str_Title' | translate}}</td>
												<td>{{selectedUser.title}}</td>
											</tr>
											<tr>
												<td>{{'$S_str_OrganizationUnit' | translate}}</td>
												<td>{{selectedUser.org_unit.name}}</td>
											</tr>
											<tr>
												<td>{{'$S_str_Email' | translate}}</td>
												<td>{{selectedUser.email}}</td>
											</tr>
										</tbody>
									</table>
								</li>
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_CreatedAt' | translate}}</td>
												<td>{{selectedUser.created}}</td>
											</tr>
											<tr>
												<td>{{'$S_str_UpdatedAt' | translate}}</td>
												<td>{{selectedUser.updated}}</td>
											</tr>
										</tbody>
									</table>
								</li>
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Description' | translate}}</td>
												<td>{{selectedUser.description}}</td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
						</section>
						<section ng-controller="AdminController">
							<legend style="text-indent: 40px" ng-hide="isUserEditMode && !canAdminGrant">{{'$S_str_AdminSetting' | translate}}</legend>
							<ul class="tab area tab-general" ng-show="isUserEditMode && canAdminGrant">
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Privilege' | translate}}</td>
												<td>
													<select ng-model="currentRoleCopy" ng-options="role.name for role in listRoles"></select>
												</td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
							<ul class="tab area tab-general" ng-hide="isUserEditMode">
								<li class="section area">
									<table class="table table-form">
										<tbody>
											<tr>
												<td>{{'$S_str_Privilege' | translate}}</td>
												<td>{{currentRole.name}}</td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
						</section>
						<section ng-controller="TablePrivilegeController">
							<legend style="text-indent: 40px" ng-show="(!isUserEditMode && amI) || canAdminGrant">{{'$S_str_TablePrivilege' | translate}}</legend>
							<ul class="tab area tab-general" ng-show="isUserEditMode && canAdminGrant">
								<li class="section area">
									<table class="table table-bordered table-striped" style="margin-bottom: 0">
										<thead>
											<tr>
												<th style="padding:0 8px; vertical-align:inherit; width: 70%">
													<span class="pull-left" style="margin-top: 5px">{{'$S_str_Table' | translate}}</span>
													<input type="search" class="pull-right input-search-table" ng-model="search.table">
												</th>
												<th>
													<span>{{'$S_str_ReadPrivilege' | translate}}</span>
													<button class="btn btn-mini pull-right" ng-click="toggleSelectAll()">
														<i class="icon-check"></i>
													</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="prv in dataTables | filter:search | orderBy:'table'">
												<td>{{prv.table}}</td>
												<td><input type="checkbox" ng-model="prv.can_read"></td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
							<ul class="tab area tab-general" ng-show="!isUserEditMode && (amI || canAdminGrant)">
								<li class="section" style="margin: 10px 40px">
									{{'$S_msg_AvailableTableCount' | translate:paramAvailableTableCount()}}
								</li>
								<li class="section area" style="border: 0">
									<table class="table table-bordered table-striped" style="margin-bottom: 0">
										<thead>
											<tr>
												<th>{{'$S_str_Table' | translate}}</th>
												<th>{{'$S_str_ReadPrivilege' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="prv in dataPrivileges | orderBy:'table' | limitTo:limitDataPrivileges">
												<td>{{prv.table}}</td>
												<td><i class="icon-ok" ng-show="prv.can_read"></i></td>
											</tr>
										</tbody>
									</table>
									<button class="btn" style="width: 100%" ng-show="(dataPrivileges.length > limitDataPrivilegesDefault) && (limitDataPrivileges != dataPrivileges.length)" ng-click="toggleMorePrivileges()">
										{{'$S_msg_AvailableTableCountMore' | translate:paramAvailableTableCountMore()}}
									</button>
								</li>
							</ul>
						</section>
						<section>
							<ul class="tab area tab-general" ng-show="(isUserEditMode && !amI) && isLowerLevel">
								<li class="section area" ng-hide="selectedUserCopy._isNew">
									<button class="btn btn-danger" style="width: 100%" ng-click="removeThisUser()">{{'$S_str_RemoveThisUser' | translate}}</button>
								</li>
							</ul>
						</section>
					</form>
				</li>
			</ul>
		</div>
	</div>

	<div class="modal mdlChangePassword" modal ng-controller="ChangePasswordController" style="z-index:99";>
			<a class="modal-close close" ng-click="closePasswordChangeModal()" style="margin-bottom: -30px">×</a>
			<legend>{{'$S_str_ChangePassword' | translate}}</legend>
			<form name="frmChangePassword">
				<fieldset class="form-horizontal">
					<div class="fieldset-description">{{'$S_msg_ChangePassword' | translate:paramChangePassword()}}</div>
					<div class="control-group" ng-class="{ 'error': frmChangePassword.password.$error.inadequacy }">
						<label class="control-label" for="password">{{'$S_str_Password' | translate}}</label>
						<div class="controls">
							<input id="password" name="password" type="password" class="input-xlarge" ng-model="valPassword" password-validate>
							<div class="help-inline" ng-show="frmChangePassword.password.$error.inadequacy">{{'$S_msg_PasswordInadequacyError' | translate}}</div>
						</div>
					</div>
					<div class="control-group" ng-class="{ 'error': frmChangePassword.passwordConfirm.$error.mismatch }">
						<label class="control-label" for="passwordConfirm">{{'$S_str_PasswordRetype' | translate}}</label>
						<div class="controls">
							<input id="passwordConfirm" name="passwordConfirm" type="password" class="input-xlarge" ng-model="valPasswordConfirm" match="valPassword">
							<div class="help-inline" ng-show="frmChangePassword.passwordConfirm.$error.mismatch">{{'$S_msg_PasswordMismatchError' | translate}}</div>
						</div>
					</div>
					<div class="control-group submit-group">
						<button class="btn btn-primary" ng-disabled="frmChangePassword.$invalid || (valPassword == '')" ng-click="changePassword()">{{'$S_str_Change' | translate}}</button>
					</div>
				</fieldset>
			</form>
		</div>

	<br class="clearboth" />

	<div class="modal errorWin" modal>
		<a class="modal-close close" ng-click="clearError()">&times;</a>
		<div class="raw"></div>
	</div>

	<div class="modal mdlRemoveUsers" ng-controller="RemoveUsersController" modal>
		<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
		<legend>{{'$S_str_RemoveUser' | translate}}</legend>
		<div style="margin-bottom: 20px">
			{{'$S_msg_RemoveUserConfirmPre' | translate}}<code>{{selectedUsers | namemap: 'login_name'}}</code>{{'$S_msg_RemoveUserConfirmPost' | translate}}
		</div>
		<div class="control-group submit-group">
			<button class="btn btn-danger" ng-click="removeUsers()">{{'$S_str_Remove' | translate}}</button>
			<button class="btn" ng-click="cancelRemoveUsers()">{{'$S_str_Cancel' | translate}}</button>
		</div>
	</div>

	<div class="alert alert-success alert-fix-side">
		<button type="button" class="close">&times;</button>
		<span class="msg">{{'$S_msg_MoveSuccess' | translate}}</span>
	</div>
	
</div>