.mdlTimeSeriesWizard, .mdlChartWizard, .mdlTimeSeriesManipulateWizard, .mdlChartManipulateWizard {
	position: fixed;
	bottom: 7%;
	width: calc(100% - 10px);
	left: 0;
	margin: 5px;
	overflow: auto;
	box-sizing: border-box;
	padding: 0;
}
.mdlTimeSeriesWizard::after, .mdlChartWizard::after, .mdlTimeSeriesManipulateWizard::after, .mdlChartManipulateWizard::after {
	display: none;
}
.rela {
	position: relative;
	height: 100%;
}
.rela > .close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 999;
}
.wiz-top-group {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background-color: #eee;
	border-bottom: 1px solid silver;
	padding: 10px;
	box-sizine: border-box;
}
.wiz-content-group {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 30px;
	padding: 10px;
	overflow: auto;
}
.wiz-bottom-group {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	background-color: #eee;
	border-top: 1px solid silver;
	padding: 10px;
}