	#view-dashboard {
		position: absolute;
		top: 30px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
	}

	#view-dashboard .toolbar .navbar-inner {
		min-height: 35px;
	}

	#view-dashboard .modal-backdrop {
		z-index: 3040;
	}

	.blank-info {
		width: 100%;
		height: 100%;
		background-color: white;
	}

	.blank-contents {
		text-align: center;
		padding-top: 10%;
	}

	.btn-extra-mini {
		padding: 0 6px;
		font-size: 9px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		line-height: 13px;
		border: 1px solid transparent;
		box-shadow: none;
		background-image: none;
		background-color: transparent;
	}

	.btn-extra-mini:hover {
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
	}

	.widget-title input[type=text] {
		margin: -2px;
		padding: 0px 4px;
		font-size: 9pt;
	}

	.widget-title {
		margin-top: -17px;
		margin-left: 6px;
		font-weight: bold;
		font-size: 9pt;
		margin-bottom: -4px;
		height: 20px;
	}

	.widget-toolbox {
		margin-top: -18px;
		margin-bottom: -2px;
		height: 20px;
	}

	.mybox .handler.bold {
		height: 24px;
	}

	widget.bold .widget-title {
		margin-top: -21px;
	}

	widget.bold .widget-toolbox {
		margin-top: -22px;
	}


	widget .progress {
		height: 2px;
		margin-bottom: 0;
		margin-top: -2px;
		clear: both;
	}

	.widget-content, .widget-error {
		height: calc(100% - 3px);
		overflow: auto;
	}

	.widget-status, .widget-lastupdate {
		font-size: 0.7em;
		color: silver;
	}

	widget.chart .widget-status {
		position: absolute;
		bottom: 0;
		left: 5px;
	}

	widget.chart .widget-lastupdate {
		position: absolute;
		bottom: 0;
		right: 5px;
	}

	.k-d-col {
		height: 100%;
	}

	.dashboard-container {
		width: 100%;
		height: 100%
	}

	.preset-container {
		width: 100%;
		height: calc(100% - 37px);
	}

	.btn.internal-close {
		display: none;
	}

	.dockpanel {
		width: 100%;
		height: 100%;
	}

	.widget-chart {
		height: calc(100% - 3px);
	}

	.brandpreset {
		line-height: 34px;
		font-size: 20px;
		font-weight: 200;
		color: #777777;
		text-shadow: 0 1px 0 #ffffff;
		margin: auto;
		width: 400px;
		text-align: center;
		margin-top: -30px;
	}

	.brandpreset input {
		display: inline-block;
		margin-bottom: 3px;
		text-align: center;
		padding: 3px;
		font-size: 18px;
	}


	.wizard {
		float: left;
		width: 98%;
		margin-left: 10px;
		padding-left: 0px;
		border-left: 0px;
	}

	.newWidget {
		/*-webkit-transition: .1s ease-in;*/
		overflow: hidden;
	}

	.newWidget.step0 {
		width: 700px;
		margin-left: -350px;
	}

	.newWidget.step1 {
		/*
		width: 800px;
		margin-left: -400px;
		*/
	}

	.newWidget.step2 {
		width: 1000px;
		margin-left: -500px;
		/* height: 500px; */
	}

	.newWidget.step3, .removePreset, .clearWidgets {
		width: 540px;
		margin-left: -270px;
	}

	.newWidget.step4 {
		width: 1000px;
		margin-left: -500px;
	}

	.newWidget.step5 {
		width: 96.5%;
		min-width: 1000px;
		margin-left: -49%;
		min-height: 90%;
		top: 10px;
	}

	[fx-dashboard-id=binding-left] {
		position: relative;
		width: 58%;
		left: 0;
		border: 0;
	}

	[fx-dashboard-id=binding-right] {
		position: absolute;
		width: 39%;
		right: 0;
		height: 440px;
		border: 1px solid silver;
		top: 0;
	}

	[fx-dashboard-id=binding-query-result] {
		height: 235px;
		border: 1px solid silver;
		margin-bottom: 5px;
	}

	[fx-dashboard-id=config-container] {
		height: 200px;
		position: relative;
	}

	[fx-dashboard-id=series] {
		position: absolute;
		left:0;
		width: 22%;
		height: 200px;
		border: 0;	
	}

	[fx-dashboard-id=series-list] {
		border: 1px solid silver;
		height: 160px;
	}

	[fx-dashboard-id=series-toolbar] {
		margin-top: 5px;
	}

	[fx-dashboard-id=config] {
		background-color: #f0f0f0;
		padding-top: 10px;
		position: absolute;
		right: 0;
		width: 76%;
		height: 190px;
		border: 0;
	}

	.qr-container {
		overflow-x: scroll;
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}

	.cmpqr td, .cmpqr th {
		word-wrap: break-word;
	}

	.cmpqr.selectable td, .cmpqr.selectable th {
		cursor: pointer;
	}

	.cmpqr.selectable td.selected, .cmpqr th.selected {
		background-color: rgba(0, 153, 255, .2);
	}

	.cmpqr.selectable tr:nth-child(odd) > td.selected {
		background-color: rgba(0, 153, 255, .3);
	}

	.cmpqr.selectable th.selected {
		background-color: rgba(0, 153, 255, .4);
		border-bottom: 1px solid rgba(0, 153, 255, .6);
	}


	.table-condensed-custom tr:nth-child(odd) {
		background-color: rgb(243,243,243);
	}

	.table-condensed-custom tr:first-child {
		background-color: rgb(234,234,234);
	}

	/* ListBox */

	.listbox {
		border: 1px solid #ccc;
		margin-bottom: 20px;
	}

	.arrangeCols {
		float: right;
		width: 17%;
	}

	.listbox > li {
		padding: 3px 11px;
		margin: 1px;
		list-style-type: none;
		clear: both;
	}

	li > input[type=checkbox] {
		vertical-align: top;
	}

	ul.ui-sortable > li {
		border: 1px solid transparent;
		background-color: transparent;
		cursor: pointer;
	}

	ul.ui-sortable > li:hover {
		border: 1px solid transparent;
		background-color: #ebf2fc;
	}

	ul.ui-sortable > li.ui-sortable-helper, ul.ui-sortable > li.ui-sortable-helper:hover {
		border: 1px solid rgba(82, 168, 236, 0.8);
		background-color: #ebf2fc; /* #cceaff */
		box-shadow: 1px 1px 10px #aaa;
	}


	div.property {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.5);
		border: 0;
	}

	div.property-inner {
		margin: 60px 40px 40px;
		background-color: white;
		padding: 10px;
		box-shadow: 0 0 5px #000;
	}