<!-- space 말고 tab 써주세요 -->
<style>
input[type=text].ruleSpec,
input[type=number].ruleSpec {
	width: 100px;
}

select.ruleSpec {
	width: 70px;
}
</style>


<div class="playground-container" ng-controller="PlaygroundController">
	<div class="paneRuleTemplateConfig" ng-controller="RuleTemplateConfigController">
		<ul class="tab well1 tab-ruletemplate">
			<li class="section well1">
				<legend>
					룰 템플릿 관리
					<button class="btn btn-reload pull-right" style="margin-left:5px" ng-click="init($event)"><i class="icon-refresh"></i></button>
					<button ng-disabled="ruleTemplateDeletable()" class="btn pull-right" style="margin-left:5px" ng-click="openDropRuleTemplateModal()">{{'$S_str_Remove' | translate}}</button>
					<button class="btn pull-right" ng-show="canUserEdit" ng-click="enterEditMode()">{{'$S_str_Edit' | translate}}</button>
					<button class="btn btn-primary pull-right" ng-click="openCreateRuleTemplateModal()">생성</button>
				</legend>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="check"  ng-class="{ 'td-check-show': isEditMode, 'td-check-hide': !isEditMode }" >
								<button class="btn btn-mini" ng-click="toggleSelectAll()">
									<i class="icon-check"></i>
								</button>
							</th>
							<th>룰타입</th>
							<th>이름</th>	
							<th>쿼리템플릿</th>	
							<th>설명</th>	
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{'tr-selected': dataRuleTemplate.is_checked}" tr-multi-selectable="dataRuleTemplate" ng-repeat="dataRuleTemplate in dataRuleTemplates" ng-click="openEditRuleTemplateModal($index)">
							<td ng-class="{ 'td-check-show': isEditMode, 'td-check-hide': !isEditMode }">
								<input type="checkbox" ng-model="dataRuleTemplate.is_checked" ng-checked="dataRuleTemplate.is_checked">
							</td>
							<td>{{dataRuleTemplate.type}}</td>
							<td>{{dataRuleTemplate.name}}</td>
							<td>{{dataRuleTemplate.query_template}}</td>
							<td>{{dataRuleTemplate.description}}</td>
						</tr>
					</tbody>
				</table>							
			</li>
		</ul>

		<!-- create Rull Template modal window -->
		<form name="FormRuleTemplate" novalidate ng-submit="createRuleTemplate()">
			<div class="modal createRuleTemplate" ng-controller="RuleTemplateWizardController" modal ng-class="{'error': FormRuleTemplate.$invalid && isOnSubmit}">
				<a class="modal-close close" style="margin-bottom: -30px">&times;</a>
				<legend>룰 템플릿 {{modal_title}}</legend>
				<fieldset class="form-horizontal">
					<div class="control-group">
						<label class="control-label">룰 타입</label>
						<div class="controls">
							<input type="radio" name="ruletype" ng-model="dataRuleTemplate.type" value="SCHEDULE">주기적
							<input type="radio" name="ruletype" ng-model="dataRuleTemplate.type" value="STREAM">실시간
						</div>
					</div>
					<div class="control-group" ng-class="{'error': FormRuleTemplate.rulename.$error.required && isOnSubmit}">
						<label class="control-label">이름</label>
						<div class="controls">
							<input type="text" name="rulename" ng-model="dataRuleTemplate.name" ng-readonly="form_readOnly" required/>
						</div>
					</div>
					<div class="control-group" ng-class="{'error': (FormRuleTemplate.query_template.$error.required && isOnSubmit) || param_alarm}">
						<label class="control-label">쿼리 템플릿</label>
						<div class="controls">
							<textarea name="query_template" class="input-xlarge" autosize autosize-max-height="145" ng-model="dataRuleTemplate.query_template" ng-readonly="form_readOnly" required></textarea>
							<button class="btn" ng-click="addSpec()">
								파라미터 생성
							</button>
							<div class="help-block">파라미터는 '$'로 표시, 파라미터간 구분은 콤마 또는 스페이스</div>
							<div class="help-block" ng-show="param_alarm">파라미터 생성 오류</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">룰 파라미터</label>
						<div class="controls" ng-class="{'error': FormRuleTemplate.spec.$error.required && isOnSubmit}">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>타입</th>
										<th>키</th>	
										<th>이름</th>	
										<th>설명</th>
										<th>기본값</th>	
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="spec in dataRuleTemplate.specs">
										<td class="cell-center">
											<select name="type" class="ruleSpec type" ng-change="setDefaultType($index)" ng-model="spec.type" ng-options="st.value as st.text for st in spec_types" ng-readonly="form_readOnly" required>
												<option value="">선택</option>
											</select>
											<div class="help-block" ng-show="FormRuleTemplate.type.$error.required  && isOnSubmit">타입선택</div>
										</td>
										<td class="cell-center">
											<input type="text" class="ruleSpec key" name="key" ng-model="spec.key" ng-pattern="dataNamePattern" ng-readonly="form_readOnly" required>
											<div class="help-block" ng-show="FormRuleTemplate.key.$error.required && isOnSubmit">키입력</div>
											<div class="help-block" ng-show="FormRuleTemplate.key.$error.pattern && isOnSubmit">숫자,영문,_ 만 가능</div>
										</td>
										<td class="cell-center">
											<input type="text" class="ruleSpec name" name="name" ng-model="spec.name" ng-readonly="form_readOnly" required>
											<div class="help-block" ng-show="FormRuleTemplate.name.$error.required && isOnSubmit">이름입력</div>
										</td>
										<td class="cell-center">
											<input type="text" class="ruleSpec description" name="description" ng-model="spec.description" ng-readonly="form_readOnly">
										</td>
										<td class="cell-center">
											<input type="text" class="ruleSpec default" name="default" id="default"ng-model="spec.default" ng-readonly="form_readOnly" required>
											<div class="help-block" ng-show="FormRuleTemplate.default.$error.required && isOnSubmit">타입에 따른 기본값 입력</div>
										</td>
										<td class="cell-center">
											<button type="button" class="close" ng-click="removeSpec($index)">&times</button>	
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">설명</label>
						<div class="controls">
							<textarea name="description" class="input-xlarge" ng-model="dataRuleTemplate.description" ng-readonly="form_readOnly"></textarea>
						</div>
					</div>
					<div class="control-group submit-group">
						<input type="submit" class="btn btn-primary btn-primary-modal" ng-click="validCreatingRuleTemplate()" value="{{'$S_str_Create' | translate}}">
					</div>
				</fieldset>
			</div>
		</form>

		<div class="modal dropRuleTemplate" modal="">
			<a class="modal-close close" style="margin-bottom: -30px">×</a>
			<legend class="ng-binding">룰 템플릿 삭제</legend>
			<div style="margin-bottom: 20px" class="ng-binding">
				정말 룰 텔블릿 <code>{{dropRuleTemplateName}}</code>을 삭제하시겠습니까?
			</div>
			<div class="control-group submit-group">
				<button class="btn btn-danger ng-binding" ng-click="dropRuleTemplate()">삭제</button>
				<button class="btn ng-binding" ng-click="cancelDropRuleTemplate()">취소</button>
			</div>
		</div>
	</div>
</div>