<div class="ui-cronizer">
	<table class="table table-condensed">
		<tbody>
			<tr>
				<td>Minute</td>
				<td><input type="checkbox" ng-model="everyMinute"></td>
				<td colspan="7">
					<input type="text" ng-model="valMinute" ng-model-setter="setRange($value, $model, 0, 59)">
					<input type="range" ng-model="valMinute" min="0" max="59" step="1">
				</td>
				<td>
					<input type="text" ng-model="cron.valMinute">
				</td>
			</tr>
			<tr>
				<td>Hour</td>
				<td><input type="checkbox" ng-model="everyHour"></td>
				<td colspan="7">
					<input type="text" ng-model="valHour" ng-model-setter="setRange($value, $model, 0, 23)">
					<input type="range" ng-model="valHour" min="0" max="23" step="1">
				</td>
				<td>
					<input type="text" ng-model="cron.valHour">
				</td>
			</tr>
			<tr>
				<td>Day of Month</td>
				<td><input type="checkbox" ng-model="everyDayofMonth"></td>
				<td colspan="7">
					<input type="text" ng-model="valDayofMonth" ng-model-setter="setRange($value, $model, 1, 31)">
					<input type="range" ng-model="valDayofMonth" min="1" max="31" step="1">
				</td>
				<td>
					<input type="text" ng-model="cron.valDayofMonth">
				</td>
			</tr>
			<tr>
				<td>Month</td>
				<td><input type="checkbox" ng-model="everyMonth"></td>
				<td colspan="7">
					<input type="text" ng-model="valMonth" ng-model-setter="setRange($value, $model, 1, 12)">
					<input type="range" ng-model="valMonth" min="1" max="12" step="1">
				</td>
				<td>
					<input type="text" ng-model="cron.valMonth">
				</td>
			</tr>
			<tr>
				<td>Day of week</td>
				<td><input type="checkbox" ng-model="everyDayofWeek"></td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[0]">
				</td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[1]">
				</td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[2]">
				</td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[3]">
				</td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[4]">
				</td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[5]">
				</td>
				<td>
					<input type="checkbox" ng-model="valDayofWeek[6]">
				</td>
				<td>
					<input type="text" ng-model="cron.valDayofWeek">
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th>All</th>
				<th>Mo</th>
				<th>Tu</th>
				<th>We</th>
				<th>Th</th>
				<th>Fr</th>
				<th>Sa</th>
				<th>Su</th>
				<th></th>
			</tr>
		</tfoot>
	</table>
	<!-- {{valMinute}}
	{{valDayofWeek}} -->
</div>