<div class="ui-cronizer">
	<div style="margin-bottom: 10px;">
		<legend class="title">{{'$S_str_Time' | translate}}</legend>
		<div style="margin-bottom: 5px;">
			<label>
				<input type="radio" ng-model="dataScheduleQuery.period_time" value="true"/> 
				{{'$S_str_EveryTime' | translate}} 
				{{'$S_str_PerMinutePre' | translate}}
				<input type="text" class="wizard-text" name="scheduleQueryMin" ng-model="dataScheduleQuery.minute"/> 
				{{'$S_str_PerMinutePost' | translate}}
			</label>
		</div>
		<div style="margin-bottom: 5px;">
			<label>
				<input type="radio" ng-model="dataScheduleQuery.period_time" value="false"/>
				{{'$S_str_Every' | translate}} 
				<select class="wizard-select" ng-options="t for t in dataStartTime" ng-model="dataScheduleQuery.startTime" ng-change="calculateEndTime()"></select>&nbsp;
				{{'$S_str_From' | translate}}  
				<select class="wizard-select" ng-options="t for t in dataEndTime" ng-model="dataScheduleQuery.endTime" ng-change="calculateStartTime()"></select>&nbsp;
				{{'$S_str_PerMinutePre' | translate}}
				<input type="text" class="wizard-text" name="scheduleQueryMin" ng-model="dataScheduleQuery.minute"/> 
				{{'$S_str_PerMinutePost' | translate}}
			</label>
		</div>
	</div>
	<div style="margin-bottom: 10px;">
		<legend class="title">{{'$S_Str_RepeatMethod' | translate}}</legend>							
		<ol class="wizard-scheduled-cron clearboth">							
			<li>									
				<label>
					<input type="radio" ng-model="dataScheduleQuery.period" ng-click="period(0)" value="every_day"/>{{'$S_Str_EveryDay' | translate}}
				</label>
			</li>
			<li>
				<label>
					<input type="radio" ng-model="dataScheduleQuery.period" ng-click="period(1)" value="every_week"/>{{'$S_Str_EveryWeek' | translate}}
				</label>
			</li>
			<li>
				<label>
					<input type="radio" ng-model="dataScheduleQuery.period" ng-click="period(2)" value="every_month"/>{{'$S_Str_EveryMonth' | translate}}
				</label>
			</li>
			<li>
				<label>
					<input type="radio" ng-model="dataScheduleQuery.period" ng-click="period(3)" value="every_year"/>{{'$S_Str_EveryYear' | translate}}
				</label>
			</li>
		</ol>
		<ol class="wizard-scheduled-cron-detail">
			<!-- 매일 -->
			<li class="cron-detail-step active" ng-show="dataScheduleQuery.period == 'every_day'">
				<div style="margin-bottom: 5px;">
					<label>
						<input type="radio" ng-model="dataScheduleQuery.day.every_day" value="false"/>
						{{'$S_str_Every' | translate}} 
						{{'$S_str_PerDayPre' | translate}}
						<input type="text" class="wizard-text" ng-model="dataScheduleQuery.day.date"/>&nbsp;
						{{'$S_str_PerDayPost' | translate}}
					</label>
				</div>
				<div>
					<label><input type="radio" ng-model="dataScheduleQuery.day.every_day" value="true"/>{{'$S_Str_EveryDay' | translate}}<label>
				</div>
			</li>

			<!-- 매주 -->
			<li class="cron-detail-step" ng-show="dataScheduleQuery.period == 'every_week'">
				<div style="margin-bottom: 5px;">
					<label><input type="radio" ng-model="dataScheduleQuery.week.every_week" value="true"/>{{'$S_str_EveryWeekRepeatNextDay' | translate}}</label>
				</div>
				<div style="margin-bottom: 5px;">
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.sun"/>{{'$S_str_Sunday' | translate}}</label>
					&nbsp;
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.mon"/>{{'$S_str_Monday' | translate}}</label>
					&nbsp;
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.tue"/>{{'$S_str_Tuesday' | translate}}</label>
					&nbsp;
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.wed"/>{{'$S_str_Wednesday' | translate}}</label>
				</div>
				<div>
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.thu"/>{{'$S_str_Thursday' | translate}}</label>
					&nbsp;
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.fri"/>{{'$S_str_Friday' | translate}}</label>
					&nbsp;
					<label><input type="checkbox" ng-model="dataScheduleQuery.week.day.sat"/>{{'$S_str_Saturday' | translate}}</label>
				</div>
			</li>

			<!-- 매월 -->
			<li class="cron-detail-step" ng-show="dataScheduleQuery.period == 'every_month'">
				<div style="margin-bottom: 5px;">
					<label>
						<input type="radio" ng-model="dataScheduleQuery.month.select_date" value="true"/>
						{{'$S_str_Date' | translate}} : {{'$S_str_PerMonthPre' | translate}}
						<input type="text" class="wizard-text" ng-model="dataScheduleQuery.month.date_month_count"/>&nbsp;{{'$S_str_PerMonthPost' | translate}}&nbsp;
						<input type="text" class="wizard-text" ng-model="dataScheduleQuery.month.date"/>&nbsp;{{'$S_str_DateTh' | translate}}
					</label>
				</div>
				<div>
					<label>
						<input type="radio" ng-model="dataScheduleQuery.month.select_date"  value="false"/>
						{{'$S_str_DayOfWeek' | translate}} : {{'$S_str_PerMonthPre' | translate}}
						<input type="text" class="wizard-text" ng-model="dataScheduleQuery.month.day_month_count"/>&nbsp;{{'$S_str_PerMonthPost' | translate}}
						<select class="wizard-select" ng-options="d for d in dataDay" ng-model="dataScheduleQuery.month.day"></select>&nbsp;
					</label>
				</div>
			</li>

			<!-- 매년 -->
			<li class="cron-detail-step" ng-show="dataScheduleQuery.period == 'every_year'">
				<div style="margin-bottom: 5px;">
					<label>
						<input type="radio" ng-model="dataScheduleQuery.year.select_date" value="true"/>
						{{'$S_str_Date' | translate}} : 
						<select class="wizard-month" ng-options="m for m in dataMonth" ng-model="dataScheduleQuery.year.date_month"></select>&nbsp;
						<input type="text" class="wizard-text" ng-model="dataScheduleQuery.year.date"/>&nbsp;{{'$S_str_DateTh' | translate}}
					</label>
				</div>
				<div>
					<label>
						<input type="radio" ng-model="dataScheduleQuery.year.select_date" value="false"/>
						{{'$S_str_DayOfWeek' | translate}} :
						<select class="wizard-month" ng-options="m for m in dataMonth" ng-model="dataScheduleQuery.year.day_month"></select>
						<select class="wizard-select" ng-options="d for d in dataDay" ng-model="dataScheduleQuery.year.day"></select>
					</label>
				</div>
			</li>
		</ol>
	</div>
</div>