.auditlog-container {
	background-color: #fff;
}

button.m3 {
	margin-left: 6px;
}

input.page-range {
	width: 100px;
}

.auditlog-date-invalid { 
	border: 1px solid red !!important;
}

.auditlog-inner-container {
	padding-left: 10%;
	padding-right: 10%;
}