<form name="frmLogin" style="padding: 10% 30%" ng-controller="LoginController">
	<div>
		<label for="inputId">{{'$S_str_ID' | translate}}</label>
		<input id="inputId" class="form-control" name="inputId" type="text" ng-model="txtLoginName" required>
	</div>
	<div>
		<label for="inputPassword" translate>$S_str_Password</label>
		<input id="inputPassword" class="form-control" type="password" ng-model="txtPassword">
	</div>

	<button class="btn btn-primary" ng-click="login()" ng-disabled="frmLogin.inputId.$error.required">{{'$S_str_Login' | translate}}</button>
</form>