<form class="frm-login" name="frmLogin" ng-submit="login()" ng-controller="LoginController">
	<div class="logpresso-brand"></div>
	<div>
		<label for="inputId">{{'$S_str_ID' | translate}}</label>
		<input id="inputId" class="form-control" name="inputId" type="text" ng-model="txtLoginName">
	</div>
	<div>
		<label for="inputPassword" translate>$S_str_Password</label>
		<input id="inputPassword" class="form-control" name="inputPassword" type="password" ng-model="txtPassword" required>
	</div>

	<input type="submit" class="btn btn-primary" ng-disabled="frmLogin.inputPassword.$error.required" value="{{'$S_str_Login' | translate}}">
	<div class="login-footer">EEDIOM 2014</div>
</form>