<style>

	.tm {
		position: fixed;
		top: 0px;
		right: 0;
		left: 0;
		height: 30px;
		z-index: 9999;
		-webkit-transition: height 0.3s;
		transition: height 0.3s;
	}

	.tm:hover {
		height: 30px;
		/*box-shadow: 0 1px 10px rgba(0,0,0,1)*/
	}

	.tm ul {
		display: inline;
		margin: 0;
		padding: 5px 10px;
		width: 1030px;
	}
	.tm li {
		list-style: none;
		display: inline;
		padding: 2px 18px;
		position: relative;
	}

	.tm li a {
		color: #999;
	}

	.tm li a.close {
		float: none;
		line-height: 12px;
		margin: 0 -16px 0 0px;
		opacity: 0;
		-webkit-transition: opacity 0.2s, margin 0.2s;
		transition: opacity 0.2s, margin 0.2s;
	}

	.tm li a.link {
		-webkit-transition: margin 0.2s;
		transition: margin 0.2s;
	}

	.tm li.active:hover a.close {
		display: inline;
		opacity: 1;
		margin-right: -12px;
	}

	.tm li.active:hover a.link {
		margin-left: -4px;
	}

	.tm li.active a {
		color: #4f4f4f;
	}

	.tm li.active.current a {
		color: white;
	}

	.tm li.active:after {
		content: '';
		width: 0;
		height: 0;
		border-width: 0 8px 5px 8px;
		position: absolute;
		bottom: -6px;
		margin: 0 calc(-50% + 8px);
		border-color: transparent transparent #08c transparent;
		border-style: solid;
	}

	.tm li.current {
		border-radius: 10px;
		background-color: gray;
	}

	.tm-pack-title {
		color: #1d7eaf;
	}

	.tm-inner {
		height: 30px;
		border-bottom: 1px solid #ddd;
		background-color: #f1f1f1;
	}

	.tm-logout {
		position: fixed;
		top: 0;
		right: 0;
		padding: 5px 30px 0px 30px;
		background-color: #f1f1f1;
	}
</style>
<div class="tm" ng-controller="MenuController">
	<div class="tm-inner">
		<ul class="pull-left">
			<li ng-repeat="pack in packs">
				<span class="tm-pack-title">{{pack.display_names | translateMsgbus}}</span>
				<ul>
					<li class="tm-program" ng-repeat="program in pack.programs" ng-class="{active: program.isActive, current: program.isCurrent}">
						<a class="link" href="/#/{{pack.dll}}/{{program.path}}">{{program.display_names | translateMsgbus}}</a>
						<a class="close" ng-show="program.isActive" ng-click="program.halt()">&times;</a>
					</li>
				</ul>
			</li>
		</ul>
		<a class="tm-logout" ng-click="logout()">{{'$S_str_Logout' | translate}}</a>
	</div>
</div>